{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
<h1>
    {{ page.title }}
</h1>

{{ page.intro | richtext }}

<form action="" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <ul>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div class="card">
        <div class="card-header">
            <h2>Registrant</h2>
        </div>

        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <!-- first name -->
                    <div class="form-group col-sm-6"> 
                        {{ form.first_name.label_tag }}
                        {% if form.first_name.errors %}
                            <ul>
                                {% for error in form.first_name.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.first_name }}
                        {% if form.first_name.help_text %}
                            <br />{{ form.first_name.help_text }}
                        {% endif %}
                    </div>


                    <!-- last name -->
                    <div class="form-group col-sm-6"> 
                        {{ form.last_name.label_tag }}
                        {% if form.last_name.errors %}
                            <ul>
                                {% for error in form.last_name.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.last_name }}
                        {% if form.last_name.help_text %}
                            <br />{{ form.last_name.help_text }}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <!-- age -->
                    <div class="form-group col-sm-6"> 
                        {{ form.age.label_tag }}
                        {% if form.age.errors %}
                            <ul>
                                {% for error in form.age.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.age }}
                        {% if form.age.help_text %}
                            <br />{{ form.age.help_text }}
                        {% endif %}
                    </div>

                    <!-- email -->
                <div class="form-group col-sm-6"> 
                    {{ form.email.label_tag }}
                    {% if form.email.errors %}
                        <ul>
                            {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.email }}
                    {% if form.email.help_text %}
                        <br />{{ form.email.help_text }}
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <!-- ADA accessible accommodations -->
    <div class="card">
        <div class="card-header">
            <h2>Accessibility</h2>
        </div>

        {% if form.needs_ada_accessible_accommodations.help_text %}
            <p class="mt-3 ml-3">
                {{ form.needs_ada_accessible_accommodations.help_text }}
            </p>
        {% endif %}

        <ul id="id_days_attending" class="list-group list-group-flush">
            <li class="list-group-item">
                <label class="checkbox">
                    {{ form.needs_ada_accessible_accommodations }}
                    <span class="primary"></span>
                </label>

                {{ form.needs_ada_accessible_accommodations.label }}
            </li>
        </ul>

        {% if form.needs_ada_accessible_accommodations.errors %}
            <ul class="ml-3">
                {% for error in form.needs_ada_accessible_accommodations.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <br />

    <!-- registration type -->

    <div class="card">
        <div class="card-header">
            <h2>Registration type</h2>
        </div>

        <label class="mt-3 ml-3">Select one</label>

        <ul id="id_registration_type" class="list-group list-group-flush">
            {% for key, value in form.registration_type.field.choices %}
                <li class="list-group-item">
                    <label class="checkbox">
                        <input type="radio" name="registration_type" value="{{ key }}" />
                        <span class="primary"></span>
                    </label>

                    {{ value }}
                </li>
            {% endfor %}
        </ul>

        {% if form.registration_type.help_text %}
            <p class="ml-3">
                {{ form.registration_type.help_text }}
            </p>
        {% endif %}

        {% if form.registration_type.errors %}
            <ul>
                {% for error in form.registration_type.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <br />

    <!-- days attending -->
    <div class="card" id="days-attending-container">
        <div class="card-header">
            <h2>Days attending</h2>
        </div>

        {% if form.days_attending.errors %}
            <ul>
                {% for error in form.days_attending.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if form.days_attending.help_text %}
            <p class="mt-3 ml-3">{{ form.days_attending.help_text }}</p>
        {% endif %}

        <ul id="id_days_attending" class="list-group list-group-flush">
            {% for option in form.days_attending.field.queryset %}
                <li class="list-group-item">
                    <label class="checkbox">
                        <input type="checkbox" name="days_attending" value="{{ option.pk }}" />
                        <span class="primary"></span>
                    </label>

                    {{ option.date }}
                </li>
            {% endfor %}
        </ul>
        
    </div>

    <br />

    <!-- overnight accommodations -->
    <div class="card" id="overnight-accommodations-container">
        <div class="card-header">
            <h2>Overnight accommodations</h2>
        </div>

        {% if form.overnight_accommodations.help_text %}
            <p class="mt-3 ml-3">
                {{ form.overnight_accommodations.help_text }}
            </p>
        {% endif %}

        <ul id="id_overnight_accommodations" class="list-group list-group-flush">
            {% for option in form.overnight_accommodations.field.queryset %}
                <li 
                    class="list-group-item"
                    data-age-min="{{ option.age_min }}"
                    data-age-max="{{ option.age_max }}"
                    data-daily-fee="{{ option.daily_fee }}"
                    data-weekly-fee="{{ option.weekly_fee }}"
                >
                    <label class="checkbox">
                        <input type="radio" name="overnight_accommodations" value="{{ option.pk }}" />
                        <span class="primary"></span>
                    </label>

                    {{ option }}
                </li>
            {% endfor %}
        </ul>

        {% if form.overnight_accommodations.errors %}
            <ul>
                {% for error in form.overnight_accommodations.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <button type="submit">Register</button>
</form>
{% endblock content %}

{% block extra_js %}
<script>
var overnightAccommodationsOptions = $("#id_overnight_accommodations li");
var registrationTypeInputs = $("input[name='registration_type']");

function hideAccommodationOptions() {
    overnightAccommodationsOptions.hide();
};

function accommodationIsEligible (index, element) {
    var registrantAge = parseInt($("#id_age").val());

    var ageMin = parseInt($(element).attr("data-age-min"));
    var ageMax = parseInt($(element).attr("data-age-max"));

    if (registrantAge) {
        var oldEnough = registrantAge >= ageMin;
        var youngEnough = registrantAge <= ageMax;

        return oldEnough && youngEnough;
    }
};

function showEligibleAccommodations(event) {
    var eligibleAccommodations = $("#id_overnight_accommodations li").filter(accommodationIsEligible);

    hideAccommodationOptions();

    eligibleAccommodations.show();
}

function hideDaysAttending() {
    $("#days-attending-container").hide();
}

function showDaysAttending() {
    $("#days-attending-container").show();
}

function hideOvernightAccommodations() {
    $("#overnight-accommodations-container").hide();
}

function showOvernightAccommodations() {
    $("#overnight-accommodations-container").show();
}

function showRelevantFormSections() {
    hideDaysAttending();
    hideOvernightAccommodations();

    // Get the selected registration type
    var registrationType = registrationTypeInputs.filter(":checked").val();

    if (registrationType === "overnight_attender") {
        showDaysAttending();
        showOvernightAccommodations();
    } else if (registrationType === "day_attender") {
        showDaysAttending();
    }
}

$(document).ready(function () {
    hideOvernightAccommodations();
    hideDaysAttending();
    showRelevantFormSections();
});

$("#id_age").on("input", showEligibleAccommodations);

registrationTypeInputs.on("change", showRelevantFormSections);

</script>
{% endblock extra_js %}

{% block extra_css %}
<style type="text/css">
    /*
    "Bootstrap V4 Simple Checkbox with Animation - No Js"
    Bootstrap 4.0.0 Snippet by pradeep330
    https://bootsnipp.com/snippets/j6xjx
    */
    @keyframes check {0% {height: 0;width: 0;}
        25% {height: 0;width: 10px;}
        50% {height: 20px;width: 10px;}
    }
    .checkbox{background-color:#fff;display:inline-block;height:28px;margin:0 .25em;width:28px;border-radius:4px;border:1px solid #ccc;float:right}
    .checkbox span{display:block;height:28px;position:relative;width:28px;padding:0}
    .checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:20px;left:3px;position:absolute;top:15px;width:10px}
    .checkbox span:hover:after{border-color:#999}
    .checkbox input{display:none}
    .checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}
    .checkbox input:checked + .primary:after{border-color:#2196F3}
    .list-group-item > .checkbox {
        margin-right: 0.5rem;
    }
</style>
{% endblock %}