{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
<h1>
    {{ page.title }}
</h1>

{{ page.intro | richtext }}

<form action="" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <ul>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <!-- first name -->
    <div class="form-group"> 
        {{ form.first_name.label_tag }}
        {% if form.first_name.errors %}
            <ul>
                {% for error in form.first_name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.first_name }}
        {% if field.help_text %}
            <br />{{ field.help_text }}
        {% endif %}
    </div>


    <!-- last name -->
    <div class="form-group"> 
        {{ form.last_name.label_tag }}
        {% if form.last_name.errors %}
            <ul>
                {% for error in form.last_name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.last_name }}
        {% if field.help_text %}
            <br />{{ field.help_text }}
        {% endif %}
    </div>

    <!-- age -->
    <div class="form-group"> 
        {{ form.age.label_tag }}
        {% if form.age.errors %}
            <ul>
                {% for error in form.age.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.age }}
        {% if field.help_text %}
            <br />{{ field.help_text }}
        {% endif %}
    </div>

    <!-- email -->
    <div class="form-group"> 
        {{ form.email.label_tag }}
        {% if form.email.errors %}
            <ul>
                {% for error in form.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.email }}
        {% if field.help_text %}
            <br />{{ field.help_text }}
        {% endif %}
    </div>

    <!-- registration type -->
    <div class="form-group"> 
        {{ form.registration_type.label_tag }}
        {% if form.registration_type.errors %}
            <ul>
                {% for error in form.registration_type.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.registration_type }}
        {% if form.registration_type.help_text %}
            <br />{{ form.registration_type.help_text }}
        {% endif %}
    </div>

    <!-- ADA accessible accommodations -->
    <div class="form-group"> 
        {{ form.needs_ada_accessible_accommodations.label_tag }}
        {% if form.needs_ada_accessible_accommodations.errors %}
            <ul>
                {% for error in form.needs_ada_accessible_accommodations.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.needs_ada_accessible_accommodations }}
        {% if field.help_text %}
            <br />{{ field.help_text }}
        {% endif %}
    </div>

    <!-- days attending -->
    <div class="form-group"> 
        {{ form.days_attending.label_tag }}
        {% if form.days_attending.errors %}
            <ul>
                {% for error in form.days_attending.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <ul class="list-unstyled">
            {% for option in form.days_attending %}
                <li>
                    {{ option }}
                </li>
            {% endfor %}
        </ul>
        {% if field.help_text %}
            <br />{{ field.help_text }}
        {% endif %}
    </div>

    <!-- overnight accommodations -->
    <div class="form-group" id="overnight-accommodations-container"> 
        {{ form.overnight_accommodations.label_tag }}
        {% if form.overnight_accommodations.errors %}
            <ul>
                {% for error in form.overnight_accommodations.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <ul class="list-unstyled" id="id_overnight_accommodations">
            {% for option in form.overnight_accommodations %}
                <li>
                    {{ option }}
                </li>
            {% endfor %}
        </ul>
        {% if field.help_text %}
            <br />{{ field.help_text }}
        {% endif %}
    </div>

    <button type="submit">Register</button>
</form>
{% endblock content %}

{% block extra_js %}
<script>
var overnightAccommodationsInputs = $("#id_overnight_accommodations input");

function hideAccommodationOptions() {
    overnightAccommodationsInputs.parent().parent().hide();
};

function accommodationIsEligible (index, element) {
    var registrantAge = parseInt($("#id_age").val());

    var ageMin = parseInt($(element).attr("data-age-min"));
    var ageMax = parseInt($(element).attr("data-age-max"));

    if (registrantAge) {
        var oldEnough = registrantAge >= ageMin;
        var youngEnough = registrantAge <= ageMax;

        return oldEnough && youngEnough;
    }
};

function showEligibleAccommodations(event) {
    var eligibleAccommodations = $("#id_overnight_accommodations input").filter(accommodationIsEligible);

    hideAccommodationOptions();

    eligibleAccommodations.parent().parent().show();
};

$(document).ready(function () {
    hideAccommodationOptions();
});

$("#id_age").on("input", showEligibleAccommodations);
</script>
{% endblock extra_js %}